.sideBar
  .sideBar__head
    .sideBox
      %p.sideBox__name
        =current_user.name
      %ul.sideBox__community
        %li.sideBox__community__new
          = link_to new_community_path(current_user) do
            = icon('fas', 'plus', class: "plus__btn")
        %li.sideBox__community__edit
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: "cog__btn")
  .sideBar__community
    - current_user.communities.each do |community|
      .community
        = link_to community_messages_path(community) do          
          .community__name
            = community.name
          .community__message
            = community.show_last_message